extends intro

block content
	dl
		dt About blogPost
		dd blogPost was designed for people to share their thoughts and ideas within a small community through blogs.

		dt About Us
		dd We(I) are(am) a young, creative team(one-man-team) dedicated to bettering our everyday lives through innovative products like blogPost.

		dt License
		dd blogPost is currently licensed under the&nbsp;
			a(href='https://opensource.org/licenses/MIT') MIT License

		dt Copyright
		dd Copyright &copy; 2020 by invtronx. All rights reserved.

		dt Known Bugs
		dd 
			ul
				li A blog or blogger can be liked, disliked or starred indefinitely given that the page refreshes once between these consecutive actions.
	
	br
	a.btn.btn-outline-dark(href='/blog/blogfeed' role='button' aria-pressed='true') Back

