extends intro

block content
	
	p #[strong Connect and Share your Insights through blogs.]

	a.btn.btn-primary.btn-lg(href='/signup' role='button' aria-pressed='true') Sign Up

	a.btn.btn-outline-primary.btn-lg(href='/login' role='button' aria-pressed='true') Login


